body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: rgb(8, 29, 34);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post {
  width: 70vw;
  text-align: left;
}
.post h1 {
  font-size: 2em;
  font-weight: 700;
}

.post h2 {
  font-size: 1em;
}
